<!-- <p >under contruction</p> -->

<div class="side-bar">

    <div class="title d-flex justify-content-evenly">
        <div class="logo">
            QUIZZLE
        </div>
    </div>
    <div class="category-container">
        <div class="d-flex justify-content-evenly category-header py-3">
            <h3>Categories</h3>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#categoryButton"
                (click)="open(content)">New Category</button>
            <!-- Button trigger modal -->

        </div>

        <app-category></app-category>
    </div>
    <!-- Modal -->

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add A New Category</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddCategory(addForm)">

            <label for="name">Category Name</label>
            <div class="input-group">
                <input ngModel type="text" name="name" class="form-control" id="name" placeholder="Type in Category Name" required>
            </div> 

            <!-- <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
            </div> -->
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>