/* * {
    /* box-sizing: border-box; */
    /* margin: 0;
    padding: 0;
} */ 

/* SIDE BAR STYLING */
.side-bar {
    
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
    width: 400px;
    height: 100%; 
    padding: 20px;
    background: #ecf0f3;
    
}

.side-bar ul {
    list-style: none;
}

/* TITLE LOGO STYLING */
.logo {
    font-size: 45px;
    font-weight: 200;
    color: #f54914;
}

.title {
    position: relative;
    font-family: 'Monoton', sans-serif !important;

}

/* CATEGORY BOX STYLING */
.category-container {
    font-family: 'Poppins', sans-serif;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }


  /* //category css */
  body{margin-top:20px;}
.bg-light-primary {
    background-color: #f9fbff!important;
}
.pb-6, .py-6 {
    padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
    padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
    transition: transform .2s ease-in;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}