*{
    font-family: Poppins, sans-serif;
}
.card {
    position: relative;
    /* display: flex; */
    /* flex-direction: column;  */
    min-width: 0;
    height: 150px;
    word-wrap: break-word;
    /* background-color: #fff;
    background-clip: border-box; */
    /* border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .4rem; */
    /* box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%); */
    /* background-image: linear-gradient(90deg, #faf0cd, #fab397);
     */
    transition: 0.5s;
    background-size: 200% auto; 
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
    /* box-shadow: 0 4px 6px rgba(212, 84, 10, 0.11), 0 1px 3px rgba(189, 32, 32, 0.08);     */
    border-color: red orange green ;
    border-radius: 5px;
    background-color: transparent;
    

}
.card-body {
    /* display: block; */
 /* font-family: Poppins; */
 font-weight: 600;
 font-size:  1.5em;
flex-direction: column;
 
/* color: rgba(248, 100, 100, 0.4); */
/* justify-content: center;
align-content: center; */
text-transform: uppercase;
}

a {
text-decoration: none;
 text-decoration-color: none; 
}

/* body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
} */

.mask {
    
	text-transform: uppercase;
	background: linear-gradient(to right, #ee7129 0%, #faaa74 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.3vw;
    font-family: Poppins;
    /* color: white; */
}