*{
    font-family: Poppins, sans-serif;
}
.card {
    position: relative;
  
    min-width: 0;
    height: 150px;
    word-wrap: break-word;
   
    transition: 0.5s;
    background-size: 200% auto; 
   
    border-color: red orange green ;
    border-radius: 5px;
    background-color: transparent;
    

}

.card:hover{
    background-color: rgb(233, 214, 214);
}
.card-body {

 font-weight: 600;
 font-size:  1.5em;
flex-direction: column;
 

text-transform: uppercase;
}

a {
text-decoration: none;
 text-decoration-color: none; 
}


.mask {
	text-transform: uppercase;
	background: linear-gradient(to right, #ee7129 0%, #faaa74 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.3vw;
    font-family: Poppins;
 
}