
<div class="quiz-page-header m-5 text-center">
    <h4>Quizzes</h4>
</div>
<div class="row card-deck text-center">
    <div *ngFor="let quiz of quizList, let i = index" class="col-md-4">

        <div class="card m-3 d-flex text-center">
            <a routerLink="/quiz/{{quiz?.id}}/questions">

                <div class="card-body align-items-center d-flex justify-content-center pt-5">
                    <p class="mask">{{quiz?.name}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
