*{
    font-family: Poppins, sans-serif;
}
.card {
    position: relative;
    /* display: flex; */
    /* flex-direction: column;  */
    min-width: 0;
    height: 150px;
    word-wrap: break-word;
    /* background-color: #fff;
    background-clip: border-box; */
    /* border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .4rem; */
    /* box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%); */
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
    transition: 0.5s;
    background-size: 200% auto;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);    
    border: none;
    border-radius: 5px;
    

}
.card-body {
    /* display: block; */
 /* font-family: Poppins; */
 font-weight: 600;
 font-size:  1.5em;
flex-direction: column;
 
color: white;
/* justify-content: center;
align-content: center; */
text-transform: uppercase;
}

a {
text-decoration: none;
 text-decoration-color: none; 
}