<div *ngIf="router.url ==='/'" class="justify-content container text-center mt-5">
    <div class="row">
        <div class="welcome-header">
            <h1>WELCOME TO <br>
                <span class="quiz-title">QUIZZLE!</span>
            </h1>

        </div>

        <div>
            <h2 class="subtitle mt-3">
                We have dozens of quizzes that <br>we're sure you'll enjoy!
            </h2>
            <div class="subtitle2 mt-5"><h5>Haven't found EXACTLY what you're looking for? <br> Well maybe you can help us out!</h5></div>
            
            <p class="creator m-5 p-4">We encourage users to add to our collection <br> and <span class="font-weight-bold">create</span> some <span class="font-weight-bold">awesome quizzes</span> of their own!</p>
            <h2>HAPPY QUIZZING!!!</h2>

        </div>
    </div>