<div class="container text-center">
    <div class="card">

        <div class="card-header">
            <h3>Name of the Quiz</h3>
            <p>Name of Category</p>
        </div>

        <div class="card-body d-flex justify-content-between">
            <div class="question-tracker">
                <p>Question: 1 of 10</p>
            </div>
            <div class="current-score">
                <p>
                    Score: 10 Points
                </p>
            </div>
        </div>

        <div class="blank">
            <div class="question">
               <h3>Question: </h3> 
                   <br><h4>This is a placeholder for the question?</h4>
            </div>
        </div>

        <div class="card answer py-3">
            
                <ol>
                    <li>
                        Answer
                    </li>
                </ol>
    
            
        </div>

    </div>

</div>