/* * {
    /* box-sizing: border-box; */
/* margin: 0;
    padding: 0;
} */

/* SIDE BAR STYLING */
.side-bar {

    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
    width: 600px;
    height: 100%;
    padding: 20px;
    /* background: #ecf0f3; */

}

.side-bar ul {
    list-style: none;
}

/* TITLE LOGO STYLING */
.logo {
    font-size: 45px;
    font-weight: 200;
    color: #f54914;
}

.title {
    position: relative;
    font-family: 'Monoton', sans-serif !important;

}

/* CATEGORY BOX STYLING */
.category-container {
    font-family: 'Poppins', sans-serif;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
     text-decoration-color: none; 
    }

/* //category css */
/* body{margin-top:20px;} */
.bg-light-primary {
    background-color: #f9fbff !important;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ecf0f3;
    background-clip: border-box;
    border: 1px solid rgba(230, 70, 8, 0.8);
    box-shadow: 4px 3px 2px 0 rgba(197, 191, 191, 0.6);
}
.card:hover{
    background-color: #ebd3d3;

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
    padding-top: 20px;
    color: rgb(40, 110, 27);
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}
